<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My blog edit post</title>
</head>
<body>
<h1> Edit Post</h1>

<form th:method="POST">
    <div>
        <label for="title">Title</label>
        <br>
        <input name= "title" id="title" type="text" placeholder="Enter Blog Post Title">
    </div>
    <div>
        <label for="body">Body</label>
        <br>
    <textarea name="body" id="body" cols="30" rows="10" placeholder="Enter Blog Content"></textarea>
    </div>
    <button>Edit post</button>
</form>
</body>
</html>